.page-header
  %h1 List of all bookings
.panel.panel-default
  .panel-heading
    %h3.panel-title
      All Booking List
  .panel-body
    %table.table.table-bordered.table-hovered
      %thead
        %tr
          %th User
          %th Item
          %th Quantity
          %th.col-md-1 Status
          %th.col-md-2 Start Date
          %th.col-md-2 End Date
          %th.col-md-3 Action
      %tbody
        - @manages.each do |manage|
          %tr
            %td= manage.user.email
            %td= manage.item.name
            %td= manage.quantity
            %td
              - if manage.is_active?
                %span.label.label-primary= manage.status
              - elsif manage.is_closed?
                %span.label.label-warning= manage.status
              - else
                %span.label.label-danger= manage.status
            %td= manage.startdate.strftime("%d %B %Y at %I:%M %p")
            %td= manage.enddate.strftime("%d %B %Y at %I:%M %p")
            %td
              .btn-group.btn-group-justified
                = link_to manage_path(manage), class: "btn btn-default btn-xs" do
                  %span.glyphicon.glyphicon-share{"aria-hidden" => true}
                -if manage.is_active?
                  = link_to 'Mark as closed',set_close_manage_path(manage), method: :patch, class: "btn btn-xs btn-warning"
                -if manage.is_closed?
                  = link_to 'Mark as active',set_active_manage_path(manage), method: :patch, class: "btn btn-xs btn-primary"

