.page-header
  %h1 Booking Details
.panel.panel-default
  .panel-heading
    %h3.panel-title
      Booking List
  .panel-body
    .row
      .col-md-2
        %strong
          User
      .col-md-4
        = @manage.user.email
    .row
      .col-md-2
        %strong
          Item
      .col-md-4
        = @manage.item.name
    .row
      .col-md-2
        %strong
          Quantity
      .col-md-4
        = @manage.quantity
    .row
      .col-md-2
        %strong
          Status
      .col-md-4
        - if @manage.is_active?
          %span.label.label-primary= @manage.status
        - elsif @manage.is_closed?
          %span.label.label-warning= @manage.status
        - else
          %span.label.label-danger= @manage.status
    .row
      .col-md-2
        %strong
          Start Date
      .col-md-4
        = @manage.startdate.strftime("%d %B %Y at %I:%M %p")
    .row
      .col-md-2
        %strong
          End Date
      .col-md-4
        = @manage.enddate.strftime("%d %B %Y at %I:%M %p")
  .panel-footer
    = link_to "Back", manages_path, class: "btn btn-default"