.page-header
  %h1 List of bookings
.panel.panel-default
  .panel-heading
    %h3.panel-title
      Booking List #{link_to_if(!current_user.is_suspend?, "Add new booking", new_booking_url, class: "btn btn-xs btn-primary pull-right", style: "color:#FFFFFF;")}
  .panel-body
    %table.table.table-bordered.table-hovered
      %thead
        %tr
          %th Item
          %th Quantity
          %th.col-md-2 Status
          %th.col-md-2 Start Date
          %th.col-md-2 End Date
          %th.col-md-2 Action
          %th Fine
      %tbody
        - @bookings.each do |booking|
          %tr
            %td= booking.item.name
            %td= booking.quantity
            %td
              - if booking.is_active?
                %span.label.label-primary= booking.status
              - elsif booking.is_closed?
                %span.label.label-warning= booking.status
              - else
                %span.label.label-danger= booking.status
            %td= booking.startdate.strftime("%d %B %Y at %I:%M %p")
            %td= booking.enddate.strftime("%d %B %Y at %I:%M %p")
            %td
              = link_to booking_path(booking), class: "btn btn-default btn-block btn-xs" do
                %span.glyphicon.glyphicon-share{"aria-hidden" => true}
            %td
              - if booking.is_overdue? == true
                = booking.fine
              - else
                N/A