!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "UTF-8"}/
		%title Researchbods
		%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body{class: "#{body_class}"}
		= render partial: "alert"
		= render partial: "header"
		.container
			- if user_signed_in? && current_user.is_suspend?
				.alert.alert-danger{role: "alert"}
					%strong
						Oh snap!
					Your account has been suspended due to a problem with your previous booking. During this time, you can't place any booking until you resolve the current problem. Thank you!
			= yield
